extends layout

block content
  h1= title
  p Welcome to #{title}
  p.
    Here is a paragraph, just for the hell of it. There isn't much in this
    paragraph but, that is ok. Lemme add a <a href="http://example.org">link</a> 
    just for the hell of it also.
  include ../content/index.md
