.navbar.navbar-inverse.navbar-fixed-top 
  .container
    .navbar-header
      a(href='/', class='navbar-brand') Express
    ul(class='nav navbar-nav')
      li
        a(href='/about') About
      li
        a(href='/blogpost') Blog
